body {
  font-family: sans-serif;
  margin: 0;
  max-height: 100vh;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* ========================================================================== */
    /* NAVBAR */
/* ========================================================================== */

nav {
  display: flex;
  flex-direction: row;

}

.navWrapper {
  display: flex;
  flex-direction: row;
}

.navLogin {
  display: flex;
  flex-direction: row;
  margin: auto 30px auto auto;
}

.roomSelectForm {
  margin: auto;
}

/* ========================================================================== */
    /* VIDEO */
/* ========================================================================== */

.videoWrapper {
  display: flex;
  flex-direction: column;
  margin: 0 0 auto auto;
}

#remoteVideos {
  display: flex;
  flex-direction: column;
  margin: 0 0 auto auto;
  /* top: 0; */
}

#remoteVideos video {
  width: 30vw;
  height: auto;
}

#localVideo {
  width: 30vw;
  height: auto;
  margin: 0 0 auto auto;
}

.local {
  position: absolute;  right: 10px;
}

.local video {
  max-width: 200px;
}



video:nth-of-type(2) {
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  background-size: cover;
}
