body {
  font-family: sans-serif;
  margin: 0;
  max-height: 100vh;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* ========================================================================== */
    /* NAVBAR */
/* ========================================================================== */

nav {
  display: flex;
  flex-direction: row;

}

.navWrapper {
  display: flex;
  flex-direction: row;
}

.navLogin {
  display: flex;
  flex-direction: row;
  margin: auto 30px auto auto;
}

.roomSelectForm {
  margin: auto;
}

.chatWrapper {
  display: flex;
  flex-direction: row;
}

/* ========================================================================== */
    /* VIDEO */
/* ========================================================================== */

.videoWrapper {
  display: flex;
  flex-direction: column;
  /* margin: 0 0 auto auto; */
  text-align: center;
  width: 40%;
}

#remoteVideos {
  display: flex;
  flex-direction: column;
  margin: 0 0 auto auto;
  /* top: 0; */
}

#remoteVideos video {
  width: 30vw;
  height: auto;
}

#localVideo {
  width: 30vw;
  height: auto;
  margin: 0 0 auto auto;
}

.local {
  position: absolute;  right: 10px;
}

.local video {
  max-width: 200px;
}

video:nth-of-type(2) {
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  background-size: cover;
}

.videoBtnWrapper {
  display: flex;
  flex-direction: row;
  margin: 10px 10px auto auto;
}

.videoBtn {
  margin: 5px;
  width: 50px;
  height: 30px;
}

/* ========================================================================== */
    /* WHITEBOARD */
/* ========================================================================== */

/* Colors */
.black {
  background-color: black;
}
.purple {
  background-color: #680b5f;
}
.blue {
  background-color: #0b4c68;
}
.red {
  background-color: #f5163e;
}
.green {
  background-color: #72f29f;
}
.orange {
  background-color: #fa8f23;
}
.yellow {
  background-color: #ffc221;
}

.whiteBoardWrapper {
  width: 60%;
  height: 100%;
  border: 1px solid black;
}


canvas {
    /* position: absolute; */
    /* top: 0; left: 0; */
    /* width: 100%; height: 100%; */
    border: 1px solid black;
}

.color-selector {
    position: fixed;
    /* bottom: 20px; */
    /* left: 20px; */
    margin: auto auto auto 20px;
    background: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.marker {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 10px; margin-bottom: 10px;
    transition: box-shadow 113ms, transform 113ms;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    transform: translate(-3px, -3px);
}

.marker:first-of-type {
    margin-top: 0;
}

.marker.selected {
    box-shadow: none;
    transform: translate(0, 0);
